@model CMSNews.Models.ViewModels.NewsGroupViewModel

@{
    ViewBag.Title = "درج رکورد جدید";
}

<h2>درج رکورد جدید</h2>
@using (Html.BeginForm("Create", "NewsGroups", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.NewGroupTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewGroupTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewGroupTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/images/news-group/nophoto.png" class="img60x60" id="impPrev" />
                <input type="file" id="imgUpload" name="imgUpload" onchange="showPreView(this)" value="nophoto.png" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="درج" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("برگشت به صفحه اصلی", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/main-script.js"></script>
}
