@model CMSNews.Models.ViewModels.NewsGroupViewModel

@{
    ViewBag.Title = "جزئیات";
}

<h2>جزئیات</h2>

<div>
    <h4>گروه های خبری</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="/images/news-group/@Model.ImageName" class="img120x120" id="impPrev" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
